            @model VTechClubApp.Models.Global

            @{
                ViewBag.Title = "HandleRegistration";
                Layout = "~/Views/Shared/_Layout.cshtml";
            }

            <h2 class="well">Handle Registration</h2>



            @if (@Model.RegistrationStatus == true)
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Registration is activated
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                   Registration is deactivated
                </div>
            }
<div>
    <button class="btn btn-info hidden-print" onclick="location.href='@Url.Action("activateRegistration","Home")'">
        <i class="glyphicon glyphicon-move "></i>
      
@ViewBag.activate
        
    </button>



    @*<button class="btn btn-info hidden-print" onclick="location.href='@Url.Action("Index","Redirect")'">
        <i class="glyphicon glyphicon-home"></i>
        Deactivate Registration
    </button>*@
</div>