@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VTech Club Application</h1>
    <p class="lead">Valencia Technology Club Is the club located on the east Campus and offering services of repairing computers for all the students</p>
    <p><a href="http://valenciaTechnologyClub.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Conferences</h2>
        <p>
            Please follow the Forms and Try to bring with any of the pieces you think our team will need in order to reapir your computer.
        </p>
        <p><a class="btn btn-default" href="http://valenciaTechnologyClub.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Next events </h2>
        <p> Please follow the Forms and Try to bring with any of the pieces you think our team will need in order to reapir your computer.</p>
        <p><a class="btn btn-default" href="http://valenciaTechnologyClub.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join Us</h2>
        <p> Please follow the Forms and Try to bring with any of the pieces you think our team will need in order to reapir your computer.</p>
        <p><a class="btn btn-default" href="http://valenciaTechnologyClub.com">Learn more &raquo;</a></p>
    </div>
</div>