
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2 class="well">About Us</h2>
<div class="panel panel-primary">
    <div class="panel-heading">Who are we ?</div>
    <div class="panel-body">
        The Technology Club is the point of convergence for a variety of technology-focused disciplines at Valencia College.
        Though our focus is often on programming, networking, or general IT, we welcome anyone interested from any field of study. The goal of our events is for students to be able to grow and prosper, learning from one another and through the club sponsored Tech Talks.
        We host speakers from various industries, provide weekly study sessions for those who might need a little extra help, and provide IT services for Valencia students and faculty at no cost.
    </div>
    <div class="panel-footer"><button class="btn btn-primary">Learn More</button>  </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">Our activities</div>
    <div class="panel-body">
        The Technology Club is the point of convergence for a variety of technology-focused disciplines at Valencia College.
        Though our focus is often on programming, networking, or general IT, we welcome anyone interested from any field of study. The goal of our events is for students to be able to grow and prosper, learning from one another and through the club sponsored Tech Talks.
        We host speakers from various industries, provide weekly study sessions for those who might need a little extra help, and provide IT services for Valencia students and faculty at no cost.
    </div>
    <div class="panel-footer"><button class="btn btn-success">Learn More</button></div>
</div>


<div class="panel panel-danger">
    <div class="panel-heading">Join Us</div>
    <div class="panel-body">
        The Technology Club is the point of convergence for a variety of technology-focused disciplines at Valencia College.
        Though our focus is often on programming, networking, or general IT, we welcome anyone interested from any field of study. The goal of our events is for students to be able to grow and prosper, learning from one another and through the club sponsored Tech Talks.
        We host speakers from various industries, provide weekly study sessions for those who might need a little extra help, and provide IT services for Valencia students and faculty at no cost.
    </div>
    <div class="panel-footer"><button class="btn btn-danger">Learn More</button></div>
</div>























@*<div class="well well-sm">

</div>
<span class="label label-default col-form-label-lg">Who are we?</span> <br>
<span class="label label-default col-form-label-lg">Our activities </span>
<span class="label label-default col-form-label-lg">Join Us</span>*@

@*<div class="jumbotron">
    <h1>Who are we ?</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
    <h1>Our activities</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
    <h1>Join Us</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>*@