
@{
    ViewBag.Title = "Sorry";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>Sorry , the meassage wasn't sent as expected , please try again !</h2>

<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-alert " aria-hidden="true"></span>
    Thanks for the message , and we will answer as soon as we can .
</div>