
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2 class="well">Thanks</h2>

@*<h2>Thanks for the message , and we will answer as soon as we can .</h2>*@
<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-check " aria-hidden="true"></span>
    Thanks for the message , and we will answer as soon as we can .
</div>