<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vtech-computerrepairbranch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vtech-computerrepairbranch.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Vtech-ComputerRepairBranch</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Vtech-ComputerRepairBranch</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VTechContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vtechclubserver.database.windows.net,1433;Initial Catalog=VTechClubDB;Persist Security Info=False;User ID=MalekFerhi;Password=GoHell123!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:vtechclubserver.database.windows.net,1433;Initial Catalog=VTechClubDB;Persist Security Info=False;User ID=MalekFerhi;Password=GoHell123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="MultipleDBMigrations" DbContext="VTechClubApp.DAL.VTechContext, VTechClubApp" MigrationConfiguration="-DuplicateMigration-" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VTechContext-Web.config Connection String">
      <ParameterValue>Server=tcp:vtechclubserver.database.windows.net,1433;Initial Catalog=VTechClubDB;Persist Security Info=False;User ID=MalekFerhi;Password=GoHell123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>